GOOGLE_AUTH_WEB_CLIENT_ID="yourgooglecliendid"
GOOGLE_AUTH_IOS_CLIENT_ID="yourgooglecliendid"
RESTAPI_URL="https://pickthisapp2.herokuapp.com/api"
S3_BUCKET_URL="https://pickthisapp-pictures-dev.s3.ap-southeast-2.amazonaws.com/things/"